<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Strona główna</title>
</head>
<body>
<div class = "row">
    <div th:replace="fragments::ToDoList"></div>
    <div th:replace="fragments::ArchiveTask"></div>
    <div th:replace="fragments::AddTask"></div>
</div>
<br/>
<hr>
<br/>

<div >
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th >Tytuł zadania</th>
            <th >Opis</th>
            <th>Kategoria</th>
            <th>Data początkowa</th>
            <th>Data zamknięcia</th>
            <th>Zadanie zakończono w(dni):</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "taskWithAttribute: ${tasksWithAttribute}">
            <td> <a th:href="@{'/edit?id=' + ${taskWithAttribute.task.id}}" >
                <p th:text="${taskWithAttribute.task.title}">
                </p></a>
            </td>
            <div  th:if="${taskWithAttribute.afterNow}">
                <div>
                    <td th:style="|color: red; font-style: italic |" th:text="${taskWithAttribute.task.description}"></td>
                    <td th:style="|color: red; font-style: italic |" th:text="${taskWithAttribute.task.category}"></td>
                    <td th:style="|color: red; font-style: italic |" th:text="${taskWithAttribute.task.startDate}"></td>
                    <td th:style="|color: red; font-style: italic |" th:text="${taskWithAttribute.task.endDate}"></td>
                    <div  th:if="${taskWithAttribute.task.endDate} != null">
                        <td th:style="|color: red; font-style: italic |" th:text="|${taskWithAttribute.duration} |"></td>
                    </div>
                    <div  th:unless="${taskWithAttribute.task.endDate} != null">
                        <td th:style="|color: red; font-style: italic |" th:text="| nieukończone |"></td>
                    </div>
                </div>

            </div>

            <div  th:unless="${taskWithAttribute.afterNow}">
                <div>
                    <td  th:text="${taskWithAttribute.task.description}"></td>
                    <td th:text="${taskWithAttribute.task.category}"></td>
                    <td th:text="${taskWithAttribute.task.startDate}"></td>
                    <td th:text="${taskWithAttribute.task.endDate}"></td>
                    <div  th:if="${taskWithAttribute.task.endDate} != null">
                        <td th:text="|${taskWithAttribute.duration} |"></td>
                    </div>
                    <div  th:unless="${taskWithAttribute.task.endDate} != null">
                        <td th:text="| nieukończone |"></td>
                    </div>
                </div>

            </div>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>